body {
    margin: 0;
    padding: 1em;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    max-width: 600px;
}

input[type="text"],
input[type="search"],
.save-btn {
    width: 100%;
}

label {
   font-size: 1rem;
}

.search-bar {
    margin: 0;
}

input {
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    border-radius: 8px;
    margin-bottom: 1em;
    margin-top: .4em;
    
}
.radio-input-containers{
    display: flex;
    gap: 1em;
}


input[type="radio"] {
    margin: 0 .4em 0 0; 
}

button {
    background: #5f9341;
    color: white;
    padding: 10px 20px;
    border: 1px solid #5f9341;
    border-radius: 8px;
    font-weight: bold;
    margin-top: .7em;
    cursor: pointer;
    
}

.radio-container{
    display: flex;
}

.btns-container {
    display: flex;
    gap: 20px;
}

.btns-container > * {
    flex: 1;
}

.clear-btn {
    background: white;
    color: #5f9341;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


.resource-item{
    background-color: #f5f4f4;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 2fr repeat(4, minmax(20px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 1em;
    rule: 2px solid white; 

}

.resource-item a {
    text-align: center;
    word-break: break-word;
}

.empty-state {
    text-align: center;
    color: #888;
    padding: 2rem;
    list-style: none;
}

button.delete-btn {
    border-radius: 50%;
    border: 1px solid #808080;
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
}

.tag-chip{
    border-radius: 8px;
    margin-right: .7em;
    background: white;
    color: #5f9341;
}

.tag-chip.active {
    background: #5f9341;
    color: white;
}

